@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* Ant Modal */
.ant-modal-content {
  padding: 0px !important;
  border-radius: 5px !important;
}

.ant-modal-close {
  width: 20px !important;
  height: 20px !important;
  color: #ABA7AF !important;
}

.ant-modal-header {
  padding: 20px;
  padding-bottom: 8px;
  margin-bottom: 0 !important;
  border-bottom: 1px solid #D0D5DD;
}

.ant-modal-title {
  font-size: 16px;
  color: #333333;
  font-weight: 600;
  line-height: 20px;
  font-style: normal;
  font-family: 'Inter';
}

.ant-modal-body {
  padding: 20px;
}

.ant-modal-body form .ant-input {
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 5px;
}